OPENAI_API_KEY=replace_with_new_openai_api_key
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=replace_with_google_api_key
BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
GOOGLE_CHAT_MODEL=gemini-2.5-flash-lite
GOOGLE_EMBEDDING_MODEL=gemini-embedding-001
